########################################################### 自定义部分
# dir 不需要提交的目录
/.vs
/*/bin/
/*/obj/
/*/Properties/

# file 不需要提交的文件
config.ini

# .xxx 不需要提交的任意包含后缀名为xxx的文件
*.ico
*.exe
###########################################################